*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body,
h1,
ul,
li {
  margin: 0;
  padding: 0;
}
header,
nav,
details {
  display: block;
}
li {
  list-style: none;
}

body {
  background: #333;
  color: #EEE;
}
body,
input {
  font-family: 'komika_displayregular', Arial, sans-serif;
}

header {
  height: 50px;
  margin-left: 200px;
}

label {
  display: inline-block;
  padding: 2px;
  text-align: right;
  width: 130px;
}
input {
  font-size: 1em;
}
input[type=text] {
  width: 100%;
}
input[type=number] {
  margin-left: 5px;
  width: 50px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

details summary,
details div {
  margin: 10px;
}

.panels {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
}
.pages-nav {
  bottom: 0;
  left: 200px;
  height: 145px;
  position: absolute;
  right: 0;
}

.page-nav-wrapper {
  display: inline-block;
  overflow: scroll;
  white-space: nowrap;
  width: calc(100% - 85px);
}

.pages-nav-add,
.page-nav {
  border: 1px solid #EEE;
  cursor: pointer;
  display: inline-block;
  height: 100px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 75px;
}
.page-nav.selected {
  outline: 1px solid red;
}
.page-nav:after {
  content: attr(data-page);
  font-size: 2em;
}
.page-nav-add,
.page-nav-remove,
.page-nav-handle,
.panel-nav-remove,
.panel-nav-handle {
  bottom: 0;
  color: green;
  cursor: pointer;
  left: 0;
  line-height: 1;
  padding: 5px;
  position: absolute;
}
.page-nav-remove,
.panel-nav-remove {
  color: red;
  left: auto;
  right: 0;
}
.page-nav-handle {
  bottom: auto;
  right: 0;
  top: 0;
}
.page-nav-handle,
.panel-nav-handle {
  background: #555;
  color: inherit;
  cursor: move;
}
.page-nav-add:hover,
.page-nav-remove:hover,
.page-nav-handle:hover,
.panel-nav-remove:hover,
.panel-nav-handle:hover {
  background: #EEE;
}
.page-name {
  display: block;
  margin-top: 30px;
}

.panels-nav {
  height: 70%;
  margin: 10px;
  overflow: scroll;
}
.panel {
  border: 1px solid #EEE;
  padding: 5px 10px;
  margin-bottom: 5px;
  position: relative;
}
.panel-img-wrapper {
  margin: 5px 0;
  text-align: center;
}
.panel-img {
  border: 1px solid #EEE;
  height: 50px;
  padding: 2px;
}

.artboard-wrapper {
  bottom: 145px;
  left: 200px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 50px;
}
.artboard {
  background: #FFF url('../img/grid.png');
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.artboard-img {
  cursor: move;
  position: absolute;
}
.artboard-img:hover {
  outline: 1px dashed blue;
}
.artboard-img img {
  display: block;
  height: 100%;
  width: 100%;
}

/* right click menu */
.context-menu-list {
  color: #333;
  font-family: inherit;
  font-size: 1em;
}
.context-menu-item {
  padding-left: 4px;
}


/* preview */
#preview {
  background: #333;
  bottom: 1em;
  display: none;
  left: 1em;
  overflow: hidden;
  position: absolute;
  right: 1em;
  top: 1em;
}
#preview.show {
  display: block;
}
#preview-close {
  color: #333;
  padding: 0 5px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
}
#preview-wrapper {
  border: 20px solid #EEE;
  height: 100%;
  width: 100%;
}


/* Steve Overrides ========= */

h1 {
  padding-top: 10px;
  font-size:1.6em;
  line-height: 32px;
  text-shadow: 2px 2px 4px #000000;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(220,220,220,0.4); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0); 
}

input[type=text],input[type=number] {
  background-color: #666;
  border: none;
  color: #aaa;
  height: 1.6em;
  padding-left:10px;
  margin-bottom:4px;
  font-family: 'komika_displayregular', Arial, sans-serif; 
  font-size: 1em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.panels details {
  padding: 4px;
  margin: 8px;
  border-radius: 8px;
  background-image: -o-linear-gradient(-89deg, #494949 0%, #2E2E2E 100%);
  background-image: -moz-linear-gradient(-89deg, #494949 0%, #2E2E2E 100%);
  background-image: -ms-linear-gradient(-89deg, #494949 0%, #2E2E2E 100%);
  background-image: linear-gradient(-179deg, #494949 0%, #2E2E2E 100%);
  border: 1px solid #2E2E2E;
}

.panels-nav {
border-radius: 8px;
background: #222222;
-moz-box-shadow:    inset -1px -1px 2px 0px rgba(225,225,225,0.50);
box-shadow:         inset -1px -1px 2px 0px rgba(225,225,225,0.50);
}

.panels details[open] {
  border: 1px solid #666;
}

#pages-nav {
  border-radius: 8px;
  margin-top:8px;
  background: #222222;
  -moz-box-shadow:    inset -1px -1px 2px 0px rgba(225,225,225,0.50);
  box-shadow:         inset -1px -1px 2px 0px rgba(225,225,225,0.50);
}

.pages-nav li{
  padding: 4px;
  margin: 8px;
  border-radius: 4px;
  background-image: -o-linear-gradient(-89deg, #494949 0%, #2E2E2E 100%);
  background-image: -moz-linear-gradient(-89deg, #494949 0%, #2E2E2E 100%);
  background-image: -ms-linear-gradient(-89deg, #494949 0%, #2E2E2E 100%);
  background-image: linear-gradient(-179deg, #494949 0%, #2E2E2E 100%);
  border: 1px dashed #666;
  width:100px;
}

.comic-button {
  width:45%;
  background-image: -o-linear-gradient(-89deg, #D9D9D9 0%, #5F5F5F 100%);
  background-image: -moz-linear-gradient(-89deg, #D9D9D9 0%, #5F5F5F 100%);
  background-image: -ms-linear-gradient(-89deg, #D9D9D9 0%, #5F5F5F 100%);
  background-image: linear-gradient(-179deg, #D9D9D9 0%, #5F5F5F 100%);
  border: 1px solid #2E2E2E;
  border-radius: 6px;
  color: #000;
  display: inline-block;
  text-align: center;
}

.comic-button:hover {
  background-image: -o-linear-gradient(-89deg, #5F5F5F 0%, #D9D9D9 100%);
  background-image: -moz-linear-gradient(-89deg, #5F5F5F 0%, #D9D9D9 100%);
  background-image: -ms-linear-gradient(-89deg, #5F5F5F 0%, #D9D9D9 100%);
  background-image: linear-gradient(-179deg, #5F5F5F 0%, #D9D9D9 100%);
  border: 1px solid #aaa;
}

.pages-nav-add {
  margin-top: 30px;
  height:80px;
  width:75px;
  border-radius: 20px;
  background-image: -o-linear-gradient(-89deg, #89B689 0%, #124900 100%);
  background-image: -moz-linear-gradient(-89deg, #89B689 0%, #124900 100%);
  background-image: -ms-linear-gradient(-89deg, #89B689 0%, #124900 100%);
  background-image: linear-gradient(-179deg, #89B689 0%, #124900 100%);
  border: 1px solid #2E2E2E;
  -moz-box-shadow:    2px 2px 4px 0px rgba(0,0,0,0.50);
  box-shadow:         2px 2px 4px 0px rgba(0,0,0,0.50);
}

.pages-nav li:after {
  font-size:1.4em;
  color: #aaa;
}

.page-nav-handle {
  background-image: -o-linear-gradient(-89deg, #404040 0%, #787878 51%, #404040 100%);
  background-image: -moz-linear-gradient(-89deg, #404040 0%, #787878 51%, #404040 100%);
  background-image: -ms-linear-gradient(-89deg, #404040 0%, #787878 51%, #404040 100%);
  background-image: linear-gradient(-179deg, #404040 0%, #787878 51%, #404040 100%);
  border-bottom:1px solid #222;
}
.page-nav-handle:hover{
  background-color: #222;
}

.panel{
  padding: 40px 4px 24px 4px;
  margin: 8px;
  border-radius: 4px;
  background-image: -o-linear-gradient(-89deg, #494949 0%, #2E2E2E 100%);
  background-image: -moz-linear-gradient(-89deg, #494949 0%, #2E2E2E 100%);
  background-image: -ms-linear-gradient(-89deg, #494949 0%, #2E2E2E 100%);
  background-image: linear-gradient(-179deg, #494949 0%, #2E2E2E 100%);
  border: 1px dashed #666;
}

.panel-img {
  border: 1px dashed #EEE;
}

.panel-page, .panel-index{
  display:none;
}

.panel-nav-handle {
  top:0px;
  height:30px;
  text-align:center;
  width:100%;
  background-image: -o-linear-gradient(-89deg, #404040 0%, #787878 51%, #404040 100%);
  background-image: -moz-linear-gradient(-89deg, #404040 0%, #787878 51%, #404040 100%);
  background-image: -ms-linear-gradient(-89deg, #404040 0%, #787878 51%, #404040 100%);
  background-image: linear-gradient(-179deg, #404040 0%, #787878 51%, #404040 100%);
  border-bottom:1px solid #222;
}

.panel-nav-handle:hover {
  background-color: #222;
}

.addCenter {
  position: relative;
  top: 24px;
  left: 2px;
  opacity: 0.6;
}

.fullWidth {
  width:100%;
}
