*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  overflow:hidden;
}
html,
body,
h1,
ul,
li {
  margin: 0;
  padding: 0;
}
header,
nav,
details,
summary {
  display: block;
}
li {
  list-style: none;
}

body {
  /* MM: Background exports wrongs colour from sketch as svg for unknown reason */
  /*background-image: url(../img/Electricomics-Generator-bg.svg);*/
  background-image: url(../img/Electricomics-Generator-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  color: #FFF;
  text-transform: uppercase;
}
body, input, textarea, select, button {
  font-family: 'muli', Arial, sans-serif;
}

/* Header */

header {
  height: 70px;
}

h1 {
  padding-top: 10px;
  padding-left: 240px;
  font-size: 2.2em;
  font-weight: normal;
  background-image: url(../img/Electricomics-logo.svg);
  background-repeat: no-repeat;
  background-position: 99px 13px;
}

/* Form Elements */

label {
  display: block;
  text-align: left;
  width: 100%;
  padding: 1px;
}

input {
  display: block;
  font-size: 1em;
}

input[type=text],input[type=number] {
  background-color: #FFF;
  border: none;
  color: #000;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

input[type=text] {
  width: 100%;
  float: none;
  margin-top: 10px;
}

input[type=number] {
  margin-left: 5px;
  width: 60px;
  float: right;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=date] {
  width: 100%;
  float: none;
  margin-top: 10px;
}

input[type=checkbox] {
  margin-left: 5px;
  float: right;
}

textarea {
  width: 100%;
  float: none;
  margin-top: 10px;
}

select {
  display: block;
  float: right;
}

/* Button styles */

.comic-button {
  background-color: #000;
  border: 2px solid #FFF;
  border-radius: 20px;
  color: #FFF;
  display: inline-block;
  margin: 0;
  padding: 7px 20px;
  text-align: center;
  text-transform: uppercase;
}

.comic-button:hover {
  color: #DDD;
  border: 2px solid #DDD;
}

.comic-button.full-width {
  width: 100%;
}

.comic-button.half-width {
  width: 47%;
}

.comic-button.half-width:nth-child(odd) {
  margin-right: 4%;
}

.add-button,
.remove-button,
.icon-button {
  display: block;
  float: left;
  clear: left;
  width: 20px;
  height: 20px;
  padding: 0;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  line-height: 0.9;
}

.add-button {
  background: #FF001F;
  border: 1px solid #FF001F;
}

.remove-button {
  float: right;
  clear: right;
  margin-right: 0;
  background: #7ED321;
  border: 1px solid #7ED321;
}

/* Panels */

.panels {
  bottom: 0;
  left: 0;
  padding: 0 0 10px 10px;
  position: absolute;
  top: 70px;
  width: 240px;
  overflow-y: auto;
}

.panels details {
  padding: 0;
  border-radius: 30px;
  background: #000;
  border: 2px solid #FFF;
  margin-top: 10px;
  width: 220px;
}

.panels details:first-child {
  margin-top: 0;
}

.panels details summary,
.panels details div {
  padding: 10px;
}

.panels details summary {
  border-bottom: none;
  font-size: 1em;
  padding: 10px;
}

.panels details[open] summary {
  border-bottom: 2px solid #FFF;
}

.panels summary::-webkit-details-marker {
  display: block;
  float:right;
  width: 0.9em;
  height: 0.9em;
  -webkit-margin-end: 10px;
  margin-top: 2px;
}

.panels summary span {
  display: block;
  text-align: center;
}

.panels details div {
  padding: 10px 10px 0 10px;
  font-size: 0.8em;
  min-height: 31px;
  position: relative;
}

.panels details div:last-child {
  padding-bottom: 10px;
}

.panels details div .comic-button.half-width {
  width: 91px;
}

.panels details div .comic-button.half-width:nth-child(odd) {
  margin-right: 10px;
}

/* Comic Creator special styles */

.panels details fieldset {
  margin: 10px;
  padding: 0;
  -webkit-margin-start: 10px;
  -webkit-margin-end: 10px;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: none;
}

.panels details fieldset div{
  padding: 10px 0;
}

.panels details fieldset input[type=text] {
  width: 100%;
  float: none;
  margin-bottom: 10px;
}

/* Image panel */

#form-panel-add {
  padding: 10px;
}

label[for="panel-add"],
#panel-add-submit {
  font-size: 0.8em;
}

#panel-add-submit  {
  margin-top: 10px;
}

.panels-nav {
  height: calc(100% - 94px);
  overflow-y: auto;
}

details[open] ~ .panels-nav {
  height: calc(100% - 364px);
}

.panel {
  border-top: 2px solid #FFF;
  position: relative;
}

.panels detail .panel div {
  padding-left: 0;
  padding-right: 0;
}

.panel-img-wrapper {
  margin: 10px 0;
  text-align: center;
}

.panel-img {
  border: 2px solid #FFF;
  height: 50px;
}

.panels details div.resize-icons-wrapper {
  min-height: 0px;
}

.panel-nav-original {
  background-image: url(../img/resize-image.svg);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: none;
  margin-left: 68px;
}

.panel-nav-resized {
  background-image: url(../img/warning.svg);
  background-repeat: no-repeat;
  height: 24px;
  width: 27px;
  cursor: default;
  display: none;
  margin-left: 5px;
}

/* pages */

.pages-nav {
  bottom: 10px;
  left: 240px;
  height: 120px;
  position: absolute;
  right: 10px;
  background: #4D4D4D;
}

.page-nav-wrapper {
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
  width: calc(100% - 180px);
}

.page-nav {
  cursor: pointer;
  display: inline-block;
  height: 100px;
  width: 100px;
  padding: 10px;
  margin: 10px;
  background: #000;
  position: relative;
  text-align: center;
  vertical-align: top;
}

.page-nav.selected {
  outline: 1px solid red;
}

.page-nav:after {
  content: attr(data-page);
  font-size: 1.2em;
  color: #FFF;
  position: absolute;
  bottom: 10px;
  left: 45px;
}

input[type=text].page-name {
  display: block;
  margin-top: 15px;
}

.pages-nav-add {
  vertical-align: top;
  margin-top: 25px;
}

.page-nav-add {
  float: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.page-nav-clone {
  display: none;
}

.page-nav-remove {
  float: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Drag handle for page and panels */

.page-nav-handle,
.panel-nav-handle {
  position: absolute;
  color: #FFF;
  background: #000;
  cursor: move;
  text-align: center;
  top: 0;
}

.page-nav-handle:hover,
.panel-nav-handle:hover {
  background: #333;
}

.page-nav-handle {
  padding-top: 2px;
  height: 25px;
  width: 100px;
  left: 0;
}

.page-nav-handle .drag-icon {
  background-image: url(../img/drag-handle-horizontal.svg);
  background-repeat: no-repeat;
  height: 14px;
  width: 24px;
  display: inline-block;
  margin-top: 3px;
}

.panel-nav-handle {
  width: 40px;
  height: 40px;
  right: 0;
  z-index: 10;
}

.panel-nav-handle .drag-icon {
  background-image: url(../img/drag-handle-vertical.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 10px;
  display: inline-block;
  margin-top: 10px;
}



/* artboard */

.artboard-wrapper {
  bottom: 145px;
  left: 240px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 70px;
}
.artboard {
  background: #FFF url('../img/grid.png');
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.artboard-img {
  cursor: move;
  position: absolute;
}
.artboard-img:hover {
  outline: 1px dashed blue;
}
.artboard-img img {
  display: block;
  height: 100%;
  width: 100%;
}

/* right click menu */
.context-menu-list {
  color: #000;
  font-family: inherit;
  font-size: 1em;
}
.context-menu-item {
  padding-left: 4px;
}


/* textarea fallback */
#textarea-output {
  height: 100%;
  resize: none;
  width: 100%;
}
#textarea-input {
  bottom: 40px;
  position: absolute;
  resize: none;
  top: 0;
  width: 100%;
}
#textarea-input-button {
  bottom: 5px;
  position: absolute;
  right: 5px;
}


/* modal window */
.overlay {
  background: #000;
  border: 2px solid #FFF;
  border-radius: 2px;
  bottom: 1em;
  display: none;
  left: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 9999;
}
.show {
  display: block;
}
.show-icon {
  display: inline-block;
}
.overlay-close {
  color: #000;
  padding: 0 5px;
  position: absolute;
  right: -20px;
  text-decoration: none;
  top: -20px;
}

/* preview */
#preview {
  border: 20px solid #FFF;
  height: 100%;
  width: 100%;
}
#preview-overlay {
  border: 0 none;
}
#preview-close {
  right: 0;
  top: 0;
}


.not-supported {
  background: #000;
  bottom: 0;
  left: 0;
  letter-spacing: 2px;
  line-height: 2em;
  padding: 20% 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.not-supported a {
  color: #CCC;
}


/* Scrollbars */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(220,220,220,0.4); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0); 
}

.fullWidth {
  width:100%;
}
