/* general style */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* disable text selection with css or js */
  /* http://stackoverflow.com/questions/3779534/how-to-disable-text-selection-with-css-or-js */
  -webkit-user-select: none;
     -moz-user-select: none;
  /* disable flash on tap */
  /* http://stackoverflow.com/questions/6211959/html5-div-flashes-on-tap */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
  border: 0 none;
  display: block;
  /* never the target of mouse events */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events */
  pointer-events: none;
}

/*body:after {
  background: rgba(0, 0, 0, .5) url('../elcxlogosmall.png') no-repeat;
  background-size: cover;
  border-radius: 100%;
  content: '';
  height: 50px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 50px;
}*/

ec-curtains {
  background: #000;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999999999;
}
ec-curtains .loading,
ec-curtains .start {
  color: #FFF;
  font-size: 10vw;
  text-transform: uppercase;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
ec-curtains .start {
  display: none;
}
ec-curtains.loaded .loading {
  display: none;
}
ec-curtains.loaded .start {
  display: -webkit-flex;
  display:         flex;
}

/* horizontal and vertical centered comic */
html.vh-center,
html.vh-bottom {
  display: table;
  margin: 0 auto;
  width: 100%;
}
.vh-center body {
  display: table-cell;
  vertical-align: middle;
}
.vh-bottom body {
  display: table-cell;
  vertical-align: bottom;
}

/* comic specific */
body {
  background: #FFF;
}
img {
  max-height: 100%;
  width: 100%;
}
ec-comic,
ec-page,
ec-panel {
  display: block;
}
ec-comic {
  cursor: pointer;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
ec-page {
  height: 100%;
  position: relative;
  width: 100%;
}
ec-panel {
  position: absolute;
}
.step {
  display: none;
}